@page
@model Web_Portfolio_New_july_24.Pages.IctSkillsModel
@{
}

<div class="col-md-12">
    <h2 class="text-light">ICT Skills</h2>
    <div class="all_skills">

        <div class="skill text-light">
            <img src="images/Logo/Office-365-Logo.png" />
            <h6 style="text-decoration-line: underline;">Office 365</h6>
            <p>
                Spanning over various careers, I have been in use of using office 365 and its associated apps including MS Word, Powerpoint and sharepoint. Able to use word for many uses
                for both work and studies including assignments and reports. confident in creating, ammending and presenting powerpoint presentations to large crowds of personel both fellow
                students and work colleagues. Good understanding of sharepoint and using the framework to collaborate with others to provide an efficent work force.
            </p>
        </div>

        <div class="skill text-light">
            <img src="images/Logo/Excel-Logo.png" />
            <img src="images/Logo/Pandas-Logo.png" />
            <h6 style="text-decoration-line: underline;">Data Analysis</h6>
            <p>
                Throughout my current work position, I have developed experience with data analysis built from gathering data after long job completions, analys the data with use of Microsoft
                Excel producing graphs from formulas, then produce findings and reccomendations. During my studies I was able to enhance my data analysis using multiple tools 
                including more in depth programming including NumPy and Pandas within the Python Language. Write detailed reports of my analysis, conclude and recomendations required. 
            </p>
        </div>

        <div class="skill text-light">
            <img src="images/Logo/python.png" />
            <h6 style="text-decoration-line: underline;">Python</h6>
            <p>
                Used as one of the main languages used towards degree in computers since 2019. Comfortable with the use of various libraries and frameworks
                including NumPy, Pandas, Matplotlib, Django, Flask and many more. Also used to broadly understand data structures for organising data, like lists, 
                stacks, queues, dictionaries, and sets. Also, how to analyse the complexity of an algorithm and how to measure its runtime useage.
            </p>
        </div>

        <div class="skill text-light">
            <img src="images/Logo/java.png" />
            <h6 style="text-decoration-line: underline;">Java</h6>
            <p>
                during a period of 2021, I had studied Java and OOP and the fundamental aspects of programming including how to control the initial state of newly created objects,
                use of different kinds of variables and methods in Java, different kinds of data, including primitive and object types. How to use inheritance hierarchies along with
                their impact on code reuse, overriding methods and polymorphism. how to create and use abstract classes and interfaces. import of file input and output.
            </p>
        </div>

        <div class="skill text-light">
            <img src="images/Logo/c-sharp.png" />
            <h6 style="text-decoration-line: underline;">C#</h6>
            <p>
                After studying Object Orientated Programming in University using Java and BlueJ IDE in 2021, I was able to build upon my skills and develop 
                my own learning with C#. I started off with Unity game engine incorporating visual studio to develop a 2D game. beyond this, I have been learning 
                the Model Controller Views (MVC) framework including short courses on eCommerce web apps.
            </p>
        </div>

        <div class="skill text-light">
            <img src="images/Logo/MongoDB-Logo.png" />
            <img src="images/Logo/SQL-Logo.png" />
            <h6 style="text-decoration-line: underline;">SQL, NoSQL</h6>
            <p>
                Initially started learning NoSQL and SQL during my studies with broad knowledge of ACID and CRUD operations.
                Fetching databases from national databases including Office for National Statistics (ONS) and converting from CSV or Excel files
                into readable data frames for analysis. And reverse by projects of gathering excel files, cleaning
                and reshaping before converting to a suitable NoSQL data base (MongoDB) and/or SQL using PostgreSQL with Jupyter Notebooks.
            </p>
        </div>

        <div class="skill text-light">
            <img src="images/Logo/GitHub-Logo.png" />
            <h6 style="text-decoration-line: underline;">GitHub</h6>
            <p>
                Working on various projects along with current portfolio to store code on GitHub. Using version control to update on a configured azure
                deployment platform. Good understanding of the commands Push, Pull and commit along with forking repos.
            </p>
        </div>


        <div class="skill text-light">
            <img src="images/Logo/html5.png" />
            <img src="images/Logo/js.jpeg" />
            <img src="images/Logo/CSS3.png" />
            <h6 style="text-decoration-line: underline;">Front End Web Development (HTML, JavaScript, CSS)</h6>
            <p>
                Good understanding of front end web development with use of different tags within Html. A goog understanding of Javascript and incorporating 
                functions into html. useful with css styling and with use of Bootstrap being in line with Html including Icons to create a modern web page/App.
            </p>
        </div>

        <div class="skill text-light">
            <img src="images/Logo/IBM_cloud.png" />
            <img src="images/Logo/Azure.png" />
            <h6 style="text-decoration-line: underline;">Cloud storage (Azure & IBM)</h6>
            <p>
                With good use and knowledge of Azure to deploy web apps. Also, be able to connect domain names to deployed sites with access. Briefely used DevOps 
                in deployment and version control. Use of IBM cloud through a course (IBM Full stack developer) which enabled by skills to be utilised with other 
                cloud providers
            </p>
        </div>
    </div>
</div>
