@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="images/photoWebProfile.png" alt="" width="380" height="500">
        </div>
        <div class="col-md-8 text-light">
            <h1>Christian Rees</h1>
            <p style="text-align: justify">
                Welcome to my portfolio. Here you will be able to view my areas of expertise and how I developed myself to become a developer I am
                today. The area include my education to which comprises of the modules and how I developed my skills and beyond. Other areas include personal projects
                of web development I have been building on throughout my studies and spare time.
            </p>
            <p>
                As a robust, unique character with proven leadership and management skills. I have an analytical mind who is able to critically analyse and solve 
                problems, encompassing the business functions built upon previous skills and knowledge obtained with health and safety, mechanical maintenance and Information, 
                Communication and Technology (ICT) skills. I am a firm believer in high standards and attention to detail and is proud of my military service. 
                I always aim to work to the fullest of my potential and is not afraid of taking on new challenges and develop own skills.
            </p>
                        
        </div>
    </div>
</div>


