@page
@model Web_Portfolio_New_july_24.Pages.ProjectsModel
@{
}

<div class="col-md-12">
    <h1 class="text-decoration-underline text-light">Projects.</h1>
    <p class="text-light">
        As a car and computer enthusiast, I have carried out projects for both areas. For the car, I have completed different areas including a DIY supercharger build
        taken from a Mercedes and merged to a Mazda MX-5, link can be seen here. For computers, I have and continually develop apps using different programe languages and 
        frameworks with use of different libraries which the code can be found on my Github page, with blue link in footer.
    </p>
    <br/>
    <br/>

    <h2 class="text-decoration-underline text-light">Unity playstore Game, Jumping Jacks</h2>
    <a href="https://github.com/chrisrees222/Unity---game---Jumping-Jacks-2D.git">Github Link repo</a>
    <p class="text-light">
        During the summer break of University I was compelled to create a game built from the skills developed from learning Java OOP. The game was primarily built by myself
        with certain assistances from daughter who drew the frog for me and music was attributed by a musician. The other areas of design were by myself. The code was created
        using C# with the help off multiple youtube channels. From the development, I learnt many new skills including vectoring and intergration between two platforms of visual studio
        and unity.
    </p>
    <p class="text-light">
        The game was initially hosted on playstore, which give me experience with intergrating Unity Ads, and latest API's being used for google playstore. With use of google analytics
        and management, I was able to assess its progress.
    </p>

    <div class="scroll-container">
        <img src="Images/Unity/Credits.jpg" alt="" width="200" height="300">
        <img src="Images/Unity/Extra_life.jpg" alt="" width="200" height="300">
        <img src="Images/Unity/Game_over.jpg" alt="" width="200" height="300">
        <img src="Images/Unity/instructions.jpg" alt="" width="200" height="300">
        <img src="Images/Unity/level.jpg" alt="" width="200" height="300">
        <img src="Images/Unity/level_1.jpg" alt="" width="200" height="300">
        <img src="Images/Unity/Level_complete.jpg" alt="" width="200" height="300">
        <img src="Images/Unity/main_menu.jpg" alt="" width="200" height="300">
    </div>
    <br/>
    <br/>

    <!-- Django Project roadside recovery.-->
    <h2 class="text-decoration-underline text-light">VsCode, Python Django, Roadside Project.</h2>
    <a href="https://github.com/chrisrees222/public-roadside.git">Github Link repo Roadside Project</a>
    <p class="text-light">
        After completing University, I then went on to create a web app from the use of Django framework built from Python programme language. Using the Model,
        View Template (MVT). The concept came as operators (The vehicle recovery Operators) could register, login and location etc and enter there details into a database system (SQL).
        As a user (Vehicle breakdown road user) is stranded, they would be able to load up the web page, where a leaflet map was intergrated via java script. Would show the road users
        location (Via permissions), and show local recovery operators near by.
    </p>
    <p class="text-light">
        The web page had many challenges, from using API's for converting postcodes to geo lat locations, to filtering locations that were subscribed through to showing registered 
        users on leaflet maps. The web app was all completed by myself with first time use of Javascript, Html and CSS. Security was a priority with database and secret keys which were 
        used with Azure services including the storage of secret keys through env. file. Other security features include the use of python library captcha, to prevent hacks.
    </p>

    <div class="scroll-container">
        <img src="Images/Roadside/Roadside-Home.png" alt="" width="200" height="300">
        <img src="Images/Roadside/Registration-acceptance.png" alt="" width="200" height="300">
        <img src="Images/Roadside/Roadside-Login.png" alt="" width="200" height="300">
        <img src="Images/Roadside/Roadside-Register.png" alt="" width="200" height="300">
        <img src="Images/Roadside/User-Change-Password.png" alt="" width="200" height="300">
        <img src="Images/Roadside/User-Profile.png" alt="" width="200" height="300">
        <img src="Images/Roadside/User-Settings.png" alt="" width="200" height="300">
    </div>
    <br/>
    <br/>

    <!-- Car project Supercharging.-->
    <h2 class="text-decoration-underline text-light">Car Project (Superchaarged), C# Blog.</h2>
    <a href="https://mx5-supercharged-diy.com/">Link to website Blog</a> <br/>
    <a href="https://github.com/chrisrees222/MX-5-supercharger-build.git">Link to GitHub</a>
    <p class="text-light">
        As a car enthusiast, I have a project car to which I do all kinds of work from welding, through to painting along with runnin gear and engine. For this project, I had incorporated 
        the mechanical project side, and completing a write up using visual studio and C#.
    </p>
    <br/>
    <div class="scroll-container">
        <img src="https://mx5-supercharged-diy.com/images/1mx5_car_view.jpg" alt="" width="400" height="300">
        <img src="https://mx5-supercharged-diy.com/images/1mx5_dyno.jpg" alt="" width="400" height="300">
        <img src="https://mx5-supercharged-diy.com/images/1mx5_engine_bay.jpg" alt="" width="400" height="300">
        <img src="https://mx5-supercharged-diy.com/images/1mx5_ME442.jpg" alt="" width="300" height="300">
        <img src="https://mx5-supercharged-diy.com/images/1mx5_supercharger_loose.jpg" alt="" width="300" height="300">        
    </div>
</div>
