@page
@model Web_Portfolio_New_july_24.Pages.SkillsModel
@{
}

<div class="col-md-12">
    <h2 class="text-light">Skills</h2>
    <ul class="text-light">
        <li>
            Maintain Leadership in a changing world, during times of crisis including economic and technological.
        </li>
        <li>
            Management of teams of up to fifty personnel particuarly during client planned maintenance stops.
        </li>
        <li>
            Diverse in roll and able to react to different scenarios along with being proactive and adaptive.
        </li>
        <li>
            Management of plant and equiptment including logistics within the depot and organise from outer region.
        </li>
        <li>
            Able to assess situations in turbulent times adding to strong decision making skills.
        </li>
        <li>
            Confident in report writing for both internal and stakeholders.
        </li>
        <li>
            Carry out Investigations of incidents along with client reports.
        </li>
        <li>
            Analysis of business functions including operations and health and safety procedures offering new strategies.
        </li>
        <li>
            Mentoring and training of new and existing employees providing competancies.
        </li>
        <li>
            Carry out presentations of various subjects including safety and operations.
        </li>
    </ul>
</div>
