@page
@model Web_Portfolio_New_july_24.Pages.UniversityModel
@{
}

<!-- Qualifications -->
<section class="qualifications text-light" id="qualifications" style="text-align: justify">
      <h2>
        Qualifications / Certificates.
      </h2>
    <div id="qualifications-container" class="qualifications-container text-light" style="text-align: justify">
          <div class="qualification-card">
            <h3><img src="Images/Logo/Open_uni_logo.png" width="100px" />BSc (Honours) Computing & IT and Business, Grade 2.1 2023</h3>
            <ul style="margin-left: 100px;">
              <li>Completed studies of computer science and Business innovation and leadership. </li>
              <li>Focus of Comuter science was built into various sectors Including Algorithms, Data Analysis, Software development along with Object Orientated Programming (OOP).</li>
              <li>Develop own learning with other programming languages built from studies and University languages used.</li>
              <li>Business was built around leadership and innovation in turbulant times with broad understanding of the Business functions and incorporating.</li>
              <li>Enhanced skills in report writing after collating data, review, analys and determine factors to find recomendations and conclusions. </li>
              <li>Developed skills in communication, numeracy, and collaborative working.</li>
              <li>Working effectively with others both from remote (Online) and within same vicinity.</li>
            </ul>
          </div>
          <hr>
          <div class="qualification-card">
            <h3><img src="Images/Logo/city-guilds.jpeg" width="100px" />NVQ Level 3 Mechanical Maintenance Engineering 2010</h3>
            <ul style="margin-left: 100px;">
              <li>Completed apprenticeship in mechanical Engineering (Automotive) whilst serving in the HM Forces.</li>
              <li>Working on various plant equipment and Diesel engines.</li>
              <li>Understanding of different legistlations of mechanical Equiptment and compliance including testing.</li>
              <li>Career built in working withing ardous environmennts and climates in various parts of the world.</li>
              <li>Team building in acheiving major tasks of overhauling and maintenance of mechanical equiptment.</li>
              <li>write up of service completion forms.</li>
            </ul>
          </div>
          <hr>
          <div class="qualification-card">
            <h3><img src="Images/Logo/nebosh.png" width="100px" /> NEBOSH General Certificate 2016</h3>
            <ul style="margin-left: 100px;">
              <li>Completed Health and Safety NEBOSH General Certificate with understanding of UK laws and legistlations</li>
              <li>Learn to identify and control common workplace hazards and prevention.</li>
              <li>Broad understanding of Risk Asessments and Compiling Job method statements.</li>
              <li>build on health and safety management responsibilities</li>
              <li>Understanding of Near miss and reporting systems and the importance to contribute to a safer work place.</li>
            </ul>
          </div>
        <hr>
        <div class="qualification-card">
            <h3><img src="Images/Logo/HighField-Logo.png" width="100px" />Level 3 In Assessing Vocational Achievement (RQF) 2017</h3>
            <ul style="margin-left: 100px;">
                <li>Understanding the principles and practices of assessments.</li>
                <li>Assess occupational competence in the work environment.</li>
                <li>Assess vocational skills, knowledge and understanding.</li>
                
            </ul>
        </div>
        <hr />
        <div class="qualification-card">
            <h3><img src="Images/Logo/city-guilds.jpeg" width="100px" />Level 3 High risk confined space</h3>
            <ul style="margin-left: 100px;">
                <li>expiry March 2027</li>
                <li>Completed high risk confined space training with SunBelt rentals.</li>
                <li>Worked in various confined space areas within Tata Steel Port talbot including Storage tanks, Silos and Deep drainage areas.</li>
                <li>Understanding of different gasses and the lower and upper exposure limits.</li>
                <li>Experience with use of Breathing Apperatuses (B.A) both fixed line and cylinders.</li>
                <li>Drager face fit tested.</li>
                <li>Effectively communicating with radios within harsh environments under B.A.</li>                
            </ul>
        </div>        
    </div>
    </section>
    <div style="clear:both;"></div>
